[2020-07-29 12:12] sfhacker commented on #156
I did that. I suspect the exception comes from another module. Do you know how can I get useful info with GDB in this case?

I tested every single page using the mock module (and glewlwyd-test.sql) and all of them work fine. No exception at all.
Is it possible that the DB requires some extra setup on top of 'init.sqlite3.sql'?

[2020-07-29 13:08] babelouest commented on #156
The `bt` command is helpful in this case, but your screenshot crops most of the output, maybe if you show the whole output? Do you know what API is making the segfault problem?

No, only the `init-*.sql` file is required. Even though the database wouldn't be correctly initialized, it wouldn't lead to segfault.

You can test the application with the additional script `test/glewlwyd-test.sql` though

[2020-07-29 13:25] sfhacker commented on #156
I did that already. Please read my posts carefully! I ran all the tests (all passed) and I tested the UI manually. No issues.

I know nothing about the code base as to debug this app. I think this masochist challenge ends here! I have done the best I could with very little knowledge and experience. If you happen to know/find out how to debug the UI (e.g. using some other app or tool), I am happy t

[2020-07-29 15:23] sfhacker commented on #156
I am testing the UI manually without experience and knowing nothing about the correct URLs and things like that.

It seems the culprit is this URL: http://localhost:4593/api/client?offset=0&limit=20
For some unknown reason (so far) it crashes the server! Do not ask ME why!

![image](https://user-images.githubusercontent.com/25817529/88819246-15298980-d203-11ea-991c-4a1e8d999181.png)

It does NOT c

[2020-07-29 16:25] babelouest commented on #156
If you prefer to stop it there, I won't blame you.
You already did a tremendous job by porting Glewlwyd for windows and preparing a windows installer!
But if you choose to stop, it's your decision, I'll respect that.

Can you then open a pull request with your changes and the installer source code so I can merge your work in my repo? Therefore me or somebody else could continue. If you don't want

[2020-07-30 21:45] sfhacker commented on #156
### **Some feedback on current issues**

- Added one client backend.

![image](https://user-images.githubusercontent.com/25817529/88977156-b1858600-d300-11ea-8db7-f2c16165b664.png)

Is it ok to see (on the above screen) two entries? (sorry about this question but I'm new to this project!)

- Added one client.

![image](https://user-images.githubusercontent.com/25817529/88977275-f7424e80-d300-11ea-

[2020-07-31 00:43] babelouest commented on #156
It's ok, because you can add as many user or client backend as you want. But in your case it's not useful because both backend instances probably point to the same database.
The [documentation](https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#client-backend-module) may help you.

Maybe your segmentation fault issue came from the sqlite backend then?

[2020-09-25 16:39] mzch opened #160 "[Issue] undefined symbol: ulfius_global_init in 2.4.0"
**Describe the issue**
In `2.4.0` glewlwyd doesn't start

- log
[code]

**To Reproduce**
`systemctl start glewlwyd`

**Expected behavior**
start successfully

**Screenshots**
None.

**System (please complete the following information):**
 - OS/Environment Debian Buster
 - Glewlwyd Version 2.4.0
 - Source installation: `.deb` file [here](https://github.com/babelouest/glewlwyd/releases/download/v2.4

[2020-09-25 16:46] babelouest commented on #160
Hello,

You need ulfius 2.6.9 for glewlwyd 2.4.0.

The package [glewlwyd-full_2.4.0_debian_buster_x86_64.tar.gz](https://github.com/babelouest/glewlwyd/releases/download/v2.4.0/glewlwyd-full_2.4.0_debian_buster_x86_64.tar.gz) contains all the up to date packages.

[2020-09-25 16:52] mzch commented on #160
Oh, I see. Thanks! 👍

[2020-09-25 16:52] #160 closed

[2020-09-28 01:18] a1730 opened #161 "[Question]Why not TEXT type in postgres SQL scripts"
**Is your feature request related to a problem? Please describe.**
Was wondering why you chose to use varchar(n) type in sql scripts targeted at postgres database. Please notice that TEXT type is used in sqlites3 scripts.

**Describe the solution you'd like**
The use of TEXT type rather than varchar(n) in postgres database scripts.

**Describe alternatives you've considered**
N/A

**Additional con

[2020-09-28 11:46] babelouest commented on #161
Hello,

The main reason I use `VARCHAR(n)` instead of `TEXT` is to add another layer of security in the data. All `VARCHAR(n)` columns are size limited in the application, like the username, the name of a module, a token hash.

When a column can have accept large value, then the type `TEXT` is used:

[code]

Another reason is because the Postgre tables are based on the MariaDB scripts, and in Mari

[2020-09-30 13:29] babelouest commented on #161
@a1730 , are your satisfied with the answer?

[2020-09-30 22:27] a1730 commented on #161
Your response makes sense. However, the Postgres db text type is not as limited as the MariaDB implementation. Postgres will gladly index text columns.
Also, unlike sqlite3, Postgres **will** enforce a size constraint on varchar(n) columns hence my previous reference to technical debt. One needs to retest the application when a VARCHAR(n) column changes its size even if *All VARCHAR(n) columns are

[2020-10-01 01:40] babelouest commented on #161
Even if I understand your concern with the retest issues on column size change, the technical debt is very unlikely here because I have no plan to increase the size of the limited columns, lots of application rules and behaviour are based on these fixed sizes.

Also, because of the MariaDB limitation, I'll probably never change the column during a major release lifetime.

But your issue made me un

[2020-10-01 01:40] #161 closed

[2020-10-14 10:01] Andy2903 opened #162 "Difficulties using API Keys"
Hi,

i'm new to this project and I got some difficulties to use API keys. It's not clear to me, how to use the API keys in HTTP requests.

I've tried with `curl 'http://localhost:4593/api/user' -H 'Authorization: Bearer my_api_key' -i` but I always get HTTP 401 error.

Anyone got some ideas what I do wrong?

My environment is running the latest docker container and I can access the website at http

[2020-10-14 14:33] babelouest commented on #162
Hello @Andy2903 ,

The header prefix value must be `token`, not Bearer.

[code]

It's explained in the [Getting Started](https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#access-to-administration-api-via-api-keys) documentation but I agree that could be improved.

I'll add a message explaining how the API keys can be used in the API key page.

[2020-10-14 14:35] #162 closed

[2020-10-19 07:35] Andy2903 commented on #162
One more question about the API. In the [API.md](https://github.com/babelouest/glewlwyd/blob/master/docs/API.md#get-all-modules-available) Doc at "Authentication Scheme APIs/HOTP/TOTP authentication scheme/Authentication using scheme" you should enter the otp as string. However the API doesn't accept this and returns 400 Bad Request. Instead it accepts `value` to be a object but won't let me authe

[2020-11-02 02:31] DevDorrejo opened #166 "opensuse leap 15.2 can't compile"
**Describe the issue**
cant compile because the minimum version said is 2.11, but opensuse 15.2 repos have 2.9 and when install a major version 2.13.1, still said will need 2.11.

**To Reproduce**
On a Opensuse instance do ```cmake ..``` on glewlwyd/build.

**Expected behavior**
correctly detect jansson, either is 2.9 or major of the minimum version

**Screenshots**
![image](https://user-images.gi

[2020-11-02 02:35] DevDorrejo commented on #166
Not Count Sorry, i miss read.

[2020-11-02 02:35] #166 closed

[2020-11-02 03:18] DevDorrejo opened #167 "OpenSUSe 15.2 secure connection is false"
**Describe the issue**

Secure connection is disable but the program read like is active.

![image](https://user-images.githubusercontent.com/7697566/97826946-451c7900-1c99-11eb-8abf-1e4eac0031eb.png)
![image](https://user-images.githubusercontent.com/7697566/97826974-51a0d180-1c99-11eb-9a15-ed27ce016701.png)

**System (please complete the following information):**
 - OS/Environment OpenSUSe Leap

[2020-11-02 03:26] babelouest commented on #167
You most likely have an error in the config file. Did you commented out the original database block with the sqlite3 config? If so, can you post your complete config file?

[2020-11-02 03:28] DevDorrejo commented on #167
[code]

[2020-11-02 06:10] DevDorrejo commented on #167
with this config work, but the .service not, and i dont know why

[2020-11-02 12:35] babelouest commented on #167
The service file provided works on a raspberry Pi but it requires personalization. I suggest you check the service content to make sure the paths and the user are correct. Otherwise I wouldn't know how to help because your message lacks information.

[2020-11-05 18:55] DevDorrejo commented on #167
hello, thank you for the advise, like you said the code need more customization, i will work on this and when i get the service up i will share the modifications.

[2020-11-10 07:59] Andy2903 opened #168 "Redundancy in Glewlwyd"
Hi,

is there currently the possibility to run multiple instances of Glewlwyd redundant? I know this can be done with docker/kubernetes but i'm wondering if Glewlwyd itself has any features or best practices on that topic.

Thanks!

[2020-11-10 15:27] babelouest commented on #168
Hello @Andy2903 ,

I have implemented functionalities for multiple instances in Glewlwyd, but since I don't need those functionalities, they could use some feedback.

The use case I have thought of is to use Glewlwyd in a load balanced network. If you think of other use cases where redundancy is useful, let me know.

You can have multiple instances of Glewlwyd sharing the same database, i.e. the s

[2020-11-11 07:14] Andy2903 commented on #168
Thanks for the useful information.

Yes, I was thinking about the same use case where you have one or more Glewlwyd instances behind a load balancer and all instances are connected to the same database.

How about a feature that Glewlwyd knows the other instances (their ip address, port and a valid API key). Now it would be possible to [reload all modules](https://github.com/babelouest/glewlwyd/bl

[2020-11-11 14:46] babelouest commented on #168
Indeed, implementing a synchronization process between Glewlwyd instances is complex in itself, and it may not fit everyone's need easily, I'm not eager to do this at that time. In a similar topic, I was recently asked to add webhooks in Glewlwyd and came with the same conclusion.

I also considered that using Glewlwyd in load-balanced mode may not happen a lot.
Usually one single user doesn't ask

[2020-11-13 08:13] Andy2903 commented on #168
As you pointed out Glewlwyd is optimized to be resource friendly. But what I'm also concerned about is the case when a Glewlwyd instance breaks down (Bug in Glewlwyd, Server failure, ...). Then another instance should take over so the service is highly available.

It would be nice to have a feature built in, but the event logger should run just fine too.

Thanks for your replies!

[2020-11-13 08:13] #168 closed

[2020-11-18 00:11] atsunaakiya opened #170 "[Issue] Initial Admin Account Doesn't Exist with PostgreSQL"
**Describe the issue**

I used Docker image of glewlwyd and PostgreSQL to build my application.
I initialized the database with [init.postgre.sql](https://github.com/babelouest/glewlwyd/blob/master/docs/database/init.postgre.sql), and launched glewlwyd.
I tried to login with default admin account, username=admin, password=password, but glewlwyd said that Authorization Failed.

A few hours later I

[2020-11-18 00:31] babelouest commented on #170
Hello @atsunaakiya ,

It's specified in the [Initialize database](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#initialise-database) documentation that the postgresql database requires the extension pgcrypto:

[code]

Were you able to login to glewlwyd after installing the postgre extension?

[2020-11-19 17:54] atsunaakiya commented on #170
Hi @babelouest ,
Thank you for replying! (and sorry for late reply)
I should have read the document more carefully...

I'm using it in a Docker container, so I basically recreate the entire db every time I launch the app ...

[2020-11-19 17:54] #170 closed

[2020-11-25 08:03] rperrot opened #171 "[Issue] Still getting 401 but no error."
**Describe the issue**
Hi,

I built and installed from source glewlwyd, I prepared a postgresql database using the scripts found in doc. I started the server then I went to the homepage. I got this :

<img width="966" alt="Capture d’écran 2020-11-25 à 08 49 43" src="https://user-images.githubusercontent.com/6479700/100197870-4721d280-2efb-11eb-93e5-b691ca9e7f8c.png">

I then went to the login fo

[2020-11-25 12:04] babelouest commented on #171
Hello @rperrot ,

My best guess is an issue with the [cookie configuration](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#cookies-configuration).

I see you changed the external URL in your config file, have you set your cookie domain to the same hostnamen you use to access glewlwyd?

[2020-11-25 12:44] rperrot commented on #171
Yes that's it ! I missed that point.

Is there a way to inform users (in debug ?) about an incorrect configuration in order to avoid a misconfiguration as I did ?

[2020-11-25 15:43] babelouest commented on #171
I guess I could add a debug message if the cookie domain (if set) is different from the external_url domain name.

This kind of error is one of the most that users and I have.

[2020-11-26 03:51] #171 closed

[2020-11-26 03:54] babelouest commented on #171
I've added a warning message if the cookie_domain does not match the domain in external_url.

This is not an error message that ends the service, to avoid breaking existing configuration.

[2020-11-26 06:39] rperrot commented on #171
Thnaks for your support.

[2020-12-16 14:23] babelouest commented on #167
@DevDorrejo , any update on the service script?

[2020-12-16 14:25] babelouest commented on #156
Hello @sfhacker , were you able to move on with your issues?

[2020-12-16 14:27] babelouest commented on #97
Hello @etuttle , I'm wondering if you still plan to complete the build for OSX?

[2020-12-16 15:02] sfhacker commented on #156
Indeed I was!
Have a look here: https://sourceforge.net/projects/glewlwyd-sso-server/

Please, test this very first Windows version and provide feedback.

Cheers.

[2020-12-16 15:22] babelouest commented on #156
This looks cool, although I don't see the source code of your build stack, all I can download with the sf repo is the installer and a pdf file.

Can you publish your changes?

[2020-12-17 02:57] etuttle commented on #97
Oh I forgot about this one... sorry.   Also I have a feeling that [the solution we came up with](https://github.com/babelouest/glewlwyd/issues/97#issuecomment-590145174) is going to work everywhere but at the cost of ugly code in `CMakeLists.txt`, which we won't like either...

I'll try to spend some time coming up with an even better solution, but of course I have other things keeping me busy.  I

[2021-01-06 14:39] babelouest commented on #167
I'm closing this issue then, feel free to open a new one if you feel like it

[2021-01-06 14:39] #167 closed

[2021-01-06 14:40] babelouest commented on #156
@sfhacker , is it possible to get the source of your build stack?

[2021-01-06 15:43] sfhacker commented on #156
This project was built pretty much like any other open source project:

$ git clone https://github.com/babelouest/glewlwyd.git
$ mkdir -v glewlwyd/build
$ cd glewlwyd/build
$ cmake ..
$ make
$ make install

We know nothing about the codebase as to change anything.

Have you had a chance to test it? We look forward to your feedback.

Cheers.

[2021-01-06 15:54] babelouest commented on #156
@sfhacker , I haven't tested it because I don't have a windows installed nearby at the moment.

If you use cmake to build glewlwyd, how do you manage to generate glewlwyd-sso-server-2.3.2-x64.exe after that? By its size it looks like an installer.

That's the part I'm interested to reproduce too: building an installer from the compiled code.

[2021-01-09 05:42] mzch opened #172 "[Issue] Illegal content-type"
**Describe the issue**
glewlwyd returns illegal content-type, not text/html but **application/octet-stream**.

[code]

**To Reproduce**
Run glewlwyd and show normal page.

**Expected behavior**
Return correct content-type and show index.html in the browser.

**System (please complete the following information):**
 - Server OS/Environment Debian Bullseye (testing)
 - Client OS/Environment macOS 11.

[2021-01-09 13:46] babelouest commented on #172
Hello @mzch , it looks like you haven't set the mime-type settings for the static files, see in the install documentation here: https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#static-files-mime-types

You can copy-paste the configuration block on the [glewlwyd.conf.sample](https://github.com/babelouest/glewlwyd/blob/master/docs/glewlwyd.conf.sample#L107), from line 107 to 180, i

[2021-01-09 15:18] mzch commented on #172
Oh, fixed. Thanks.

[2021-01-09 15:18] #172 closed

[2021-01-11 18:36] ajl199 opened #173 "API error on saving OIDC plugin config"
**Describe the issue**
I'm unsure whether this is a bug or just me going very wrong - I seem to be utterly lost.

Trying to activate the OIDC plugin, I get an API error when I go to save it. This happens having copied the config from the Docker test installation into my real one. It's 2.4.0 running on Debian Bullseye, installed via Aptitude, accessed from Firefox.

![Screenshot_2021-01-11_16-19-55

[2021-01-12 18:30] ajl199 commented on #173
Well, this problem seems to have gone away. I have a feeling that it was just the session timing out on me while I was filling in the options.

[2021-01-12 18:30] #173 closed

[2021-02-22 10:57] gergof opened #175 "[Issue] Authentication scheme for scope not saved"
**Describe the issue**
I'm testing glewlwyd as a light weight alternative for keycloak, but i came across an issue. I use the docker container with the default configuration (`docker run --rm -it -p 4593:4593 babelouest/glewlwyd`). I created a TOTP scheme and a new scope named test. I added the TOTP scheme as required to the scope but it seems like it isn't persisted.

**To Reproduce**
- Create a

[2021-02-22 12:45] babelouest commented on #175
Hello,

I tried your steps but I can't reproduce your problem, my scope test is saved and if I reload the page and reopen the scope, I can see the otp scheme.
Do you see any message in the logs that might be helpful?

[2021-02-23 08:48] gergof commented on #175
Here is exactly what I made:

I started the container using `docker run --rm -it -p 4593:4593 -e GLWD_LOG_LEVEL=debug babelouest/glewlwyd:2.5.2`.

This is the complete log output: https://cloud.systest.eu/s/ofeHNRK696r22Cs

And this is the recording of what I was exactly doing: https://cloud.systest.eu/s/M3X4GGYzpGAbq83

I think I've found the cause of the bug: it happens when I don't have a displ

[2021-02-23 16:52] #175 closed

[2021-02-23 16:52] babelouest commented on #175
OK I see the problem now, indeed it's when the scheme has no display name. The bug has been fixed in this commit: https://github.com/babelouest/glewlwyd/commit/b34690abbf1ce8dd4919db2344d8993fe6b0385c

Thanks for reporting the bug @gergof !

[2021-02-24 12:40] gergof opened #176 "[Issue] Register button not showing up"
**Describe the issue**
On the login form the register button doesn't show up.

**To Reproduce**
- Create registration module
- in config.json fill in the `register` field

**Expected behavior**
The button should show up

**Additional context**
The problem is caused by this line: https://github.com/babelouest/glewlwyd/blob/f70a133ea9ff6af6d9ef6bcd504423e8a7c5007d/webapp-src/src/Login/Buttons.js#L20

[2021-02-24 14:01] babelouest commented on #176
Hello @gergof ,

Did you use the register documentation to install and configure your registration plugin? There's a [paragraph describing](https://github.com/babelouest/glewlwyd/blob/master/docs/REGISTER.md#add-a-link-in-the-login-page) how to update the config.json file.

If this still not work, can you post your `"register"` field from your `config.json` file?

[2021-02-24 14:46] gergof commented on #176
Yes, I've followed the description from there.

My config.json register field looks like this:
[code]

[2021-02-24 19:05] #176 closed

[2021-02-24 19:06] babelouest commented on #176
Thanks again @gergof , your first assumption was correct, it's probably a regression introduced some time ago. I fixed the bug ere: https://github.com/babelouest/glewlwyd/commit/6a0f7752ec683b4a96bfc4e3f578a4e9147703c1

[2021-03-07 15:22] akvadrako opened #177 "[Feature request] redirect_uri pattern"
**Is your feature request related to a problem? Please describe.**

When I go to `myapp/path/abc` and I need login, I need to supply a dynamic `redirect_uri`. However every exact Redirect URI need to be supplied to glewlwyd statically.

**Describe the solution you'd like**
I would like the redirect uri to be a pattern, for example a regex.

**Additional context**
I am using glewlwyd with `caddy-au

[2021-03-07 16:02] babelouest commented on #177
Hello @akvadrako , thanks for the feature requests.

TL;DR: I won't be able to add those features in Glewlwyd, too much bugs and security issues can raise from those.

### Redirect uri to be a pattern

It's a bad idea to allow patterns in redirect uris, it can easily lead to client impersonations.

Also, in the recent [OAuth2.1 specification](https://oauth.net/2.1/), this has been explicitly forbi

[2021-03-07 16:49] akvadrako commented on #177
Okay, thanks for the detailed reply.

[2021-03-07 17:06] babelouest commented on #177
No problem, I'm closing this issue then.

[2021-03-07 17:06] #177 closed

[2021-04-02 07:38] yashrajpahwa opened #178 "[Feature request] front-end customization"
Hi everyone,
I was using the project, and i found it really nice. But is there any way to customize the dashboard that comes prebuilt.
Thanks

[2021-04-02 12:17] babelouest commented on #178
Hello @yashrajpahwa ,

The documentation has a [paragraph](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#front-end-application) for the front-end application and customization.

Depending on what changes you need, you can [Customize CSS](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#customize-css), [Customize titles and logos](https://github.com/babelouest

[2021-04-05 13:58] yashrajpahwa commented on #178
Hi,
Thanks a ton for the support Nicolas.
Do we have any option to make it headless i.e. having it in the form of API only
If that is available or can be added it would be great
Thanks

[2021-04-05 15:26] babelouest commented on #178
You can disable the entry [static_files_path](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#static-files-path) in your glewlwyd.conf file, like this

[code]

That way, the front-end application won't be available, only the API:

[code]

The APIs behavior is described in the [API.md](https://github.com/babelouest/glewlwyd/blob/master/docs/API.md) file.

Although, if you choose

[2021-04-06 03:53] yashrajpahwa commented on #178
Thanks for the help @babelouest

[2021-04-06 03:53] #178 closed

[2021-04-13 14:31] babelouest opened #181 "[Feature request] Prometheus metrics"
Follow-up of the [conversation](https://github.com/babelouest/glewlwyd/discussions/180) started by @rurus9 .

Glewlwyd would provide a `/api/metric` endpoint that would provide data in prometheus format that would look like

[code]

- The endpoint should be accessible only with an admin session or an [API key](https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#access-to-adm

[2021-04-14 09:22] rurus9 commented on #181
Looking at how I use glewlwyd2 (kubernetes), a separate endpoint with metrics on different port would be the best, something like `:9090/metrics`, with no/optional authorization, so I can expose glewlwyd2 api to the world (by K8s ingress), without exposing metrics (which are scraped by Prometheus running inside the cluster).

I think that such a solution would also be convenient for standalone gle

[2021-04-14 09:34] rurus9 opened #182 "[Issue] There is no logs for OAuth2 plugin events Client Credentials Flow"
We have "OAuth2 plugin events" logs:
[code]
but there is no logs for Access token generated for Client Credentials flow.

BTW I think adding an origin IP address would be useful, and maybe used flow to? Something like this for Client Credential access token issued:
[code]

[2021-04-14 09:50] rurus9 opened #183 "[Feature request] json log format"
It would be ideal to be able to set json as the log format, so you can put logs to json log parser (e.g. fluentd or logstash have plugins for it). It would be extremely useful when using ELK /EFK stack (Elastic, Fluend|Logstash, Kibana) for log processing.

A sample log for issuing a client credential token could look like this:
[code]

[2021-04-14 12:36] babelouest commented on #181
Indeed, the metrics endpoint shouldn't be available to the outside world by default, unless the administrator express it.

So here are the metrics I can think of at the moment:

## General
- number of valid user authentication by scheme
- number of valid user authentication for all schemes
- number of invalid user authentication by scheme
- number of invalid user authentication for all schemes

##

[2021-04-14 13:06] babelouest commented on #183
At the moment, the logs are provided by [yder](https://github.com/babelouest/yder) where the logs are created using a `printf` like format, example:

[code]

It's not possible as-is to change the output to a JSON format, it would require to change the logs paradigm.

- Either by adding a new log format in yder:

[code]

- Or by logging a stringified JSON message in addition to the log messages alr

[2021-04-14 13:13] babelouest commented on #182
My bad, it's forgotten in the documentation but there already is a log event messsage for generation of an access token on client credentials flow: https://github.com/babelouest/glewlwyd/blob/master/src/plugin/protocol_oauth2.c#L443

[code]

I'll update the documentation

[2021-04-14 13:19] babelouest commented on #182
Concerning the IP address and the flow to add to the log messages, that can be done as well, I'll append those at the end of the existing message to help current installation parsing configuration.

[2021-04-15 00:11] #182 closed

[2021-04-15 05:59] rurus9 commented on #181
I think it's great, maybe something else about the number of errors with access to the backend database (if possible)?

[2021-04-15 06:09] rurus9 commented on #183
Maybe some switch in the glewlwyd configuration, plain logs (default) or json logs (if possible)?

No, that would only obscure the situation with automatic log processing. If that's problematic (json log), better stick with plain logs.
Greetings

[2021-04-15 11:14] babelouest commented on #181
You mean when a function returns `G_ERROR_DB` because the database is unreachable for example? I don't see this fit in the metrics scope but maybe.

I'll also add metrics about registration: number of registered users, lost credentials, profiles deleted

[2021-04-15 11:17] babelouest commented on #183
The switch to choose between JSON and passion text logs wouldn't fix the complexity problem.

I'll stick with the plain text logs only for this major version 2.x, but it's keep that in mind when a future version 3.x will be planned.

[2021-04-15 11:17] #183 closed

[2021-04-15 11:23] babelouest commented on #181
But, considering the metrics values will be stored in the database, I'm not sure the database error metrics value would be relevant...

Have you experienced lots of database error with glewlwyd?

[2021-04-15 12:05] alteholz commented on #181
As far as I understand the prometheus counter, you don't need to use a database. Just keep the values in RAM and in case of a glewlwyd restart, start from 0 again (normally you are not interested in the absolute values but in the increase over time).

[2021-04-15 12:21] rurus9 commented on #181
Exactly, you have four types in prometheus: https://prometheus.io/docs/concepts/metric_types/
For number of assigned tokens et cetera you should use Counter - it is normal in the Prometheus world that the counters are reset when the service is restarted,

[2021-04-15 12:26] babelouest commented on #181
OK, let's not store the metrics then, it'll make it easier.

I'll still make the metrics write asynchronous, to minimize the performance issues though.

[2021-05-04 19:12] #156 closed

[2021-05-20 08:49] thoism opened #184 "Resources Configuration"
First of all thank you for the Glewlwyd project! We are using it for 3 years now and it works great for us.

**Is your feature request related to a problem? Please describe.**

1. Glewlwyd seems to consider Scopes something > permissions e.g. g_admin, g_profile; whereas most articles/documentations I read on the internet consider them as permissions (read.products, write.products, update.products

[2021-05-20 12:02] babelouest commented on #184
Hello @thoism ,

Thanks, although I have a question, do you use Glewlwyd 2.x or still use the version 1.4 from 3 years ago?

Correct me if I'm wrong, but what I understand with your request is to allow then administrator to group scopes into groups of scopes, so it doesn't have to add multiple scopes multiple times for each user. Is that so? If I misunderstand, can you describe a use case on what

[2021-05-20 13:24] thoism commented on #184
We are using 1.4 I guess.

Yes exactly!

Groups and roles are normally considered as two different things meaning:

1. **Roles** define a type of user and applications assign scope(permission) and access control to roles.
2. **Groups** basically are a set of users. Users can be belong to zero or more groups and inherit any roles assigned to a group

Yes actually I am thinking about something along

[2021-05-20 17:50] babelouest commented on #184
No problem, but note that I don't maintain this version anymore, and all improvements will be in the current 2.x branch.

Concerning your feature requests, I see 2 different ones in your message.

The first one is to add the concept of scope groups in the application, and users can be linked to those groups. That can be done in a future release, since it's not very complex to implement.

The secon

[2021-05-21 08:38] thoism commented on #184
Hi @babelouest

I am wondering if it could be an option to have the JWT token optionally contain:

  1. Roles
  2. Resources

as claims; in this way it would be easier to validate authorization.

[2021-05-23 11:37] HYMXDEV opened #185 "[Feature request] Do not allow users to fetch TOTP config"
**Is your feature request related to a problem? Please describe.**
For my use-case I allow users to login without any 2FA. However, some scopes require them to use 2FA (including WebAuthn, E-Mail and TOTP).
When a session is compromised (e.g. password is known or session is still valid on an compromised client) an attacker can enter the profile page, select "TOTP" and scan the TOTP QR-code even if

[2021-05-23 12:35] babelouest commented on #185
Hello @HYMXDEV ,

Thanks for the feature request.

I understand the needs and it makes sense, although the idea in the first place was so the user to be able to configure TOTP in multiple devices (phone(s), tablet(s), etc.).

A possible workaround is to have at least 2 authentication factors to connect to the profile page for a user, not the password only. Because a similar issue exists with Webau

[2021-05-23 12:49] HYMXDEV commented on #185
Hi @babelouest - thanks for the fast response and also for the great work and effort you have put into glewlwyd!

I would be more than happy to test the feature once available. For now, I decided to build my own version where I have removed the TOTP secret in the API response, which does the trick for now.

Best regards, Leonard

[2021-05-23 12:55] babelouest commented on #185
No problem, beware that webauthn is still vulnerable until the feature is implemented then

[2021-05-23 13:30] babelouest commented on #185
Also @HYMXDEV , in my vision, when the administrator opens the user's profile page in [delegation mode](https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#user-profile-delegation), it can see the user's TOTP secret and QR-Code, like this, an admin can send back the QR-Code to the using a secured channel. Do you agree?

[2021-05-23 16:12] HYMXDEV commented on #185
Thanks for the heads-up. I have disabled the WebAuthn registrations for end-users, which is feasible for my use case. That should not reveal any sensitive data, right?

That would be okay for me. Personally, I think those secrets must not be revealed once set. Most TOTP solutions I have used so far allow to register multiple TOTP devices/secrets (similar to the WebAuthn plugin) and don't allow to

[2021-05-23 16:49] babelouest commented on #185
No, even with the current setup, no sensitive data can be stolen from the webauthn registration, because is't based n a private key signature, and Glewlwyd stores the public key only. The private key is impossible to get, even for the user itself, because it's stored in the yubikey. But as I said, if an attacker gets access to the profile page, it can register a new yubikey in the profile, then lo

[2021-05-23 16:52] babelouest commented on #184
@thoism , if you're ok, I'll leave this issue as is and we'll continue it in parralel https://github.com/casbin/casbin-cpp/issues/100

[2021-05-23 16:57] babelouest commented on #184
Also, you can check Glewlwyd's OIDC  plugin implementation of [OAuth 2.0 Rich Authorization Requests Draft 03](https://www.ietf.org/archive/id/draft-ietf-oauth-rar-03.html) .

See [this paragraph](https://github.com/babelouest/glewlwyd/blob/master/docs/OIDC.md#oauth-20-rich-authorization-requests-draft-03) for the configuration details of this feature, this may be a solution for your issue

See ht

[2021-05-23 17:27] HYMXDEV commented on #185
Thanks for the clarification.

I agree, in case the database is compromised, there is no much hope in terms of security.
My concern was more towards the situation, that a single user session gets compromised. In that case the attacker can simply steal the current OTP configuration. So he does not only takes over the session, but he might also be able to get permanent access, as he can create OTP c

[2021-05-23 17:52] thoism commented on #184
@babelouest to be honest I have already read that and it looks very interesting. I will look into it better in the next few days and see if I can make it work for our case.

[2021-05-23 18:00] thoism commented on #184
I am amazed how this this turned out. I am really thankful for the efforts from all sides and I hope other users will see the value of this.

As I already [mentioned](https://github.com/casbin/casbin-cpp/issues/100), [EventStore](https://github.com/EventStore/EventStore) and [Kafka](https://github.com/apache/kafka) use ACLs as well which might make this feature available for 2 of the most widely u

[2021-05-23 18:03] babelouest commented on #184
Awesome!

Don't hesitate to open a new issue of you have problems or questions regarding rich auth requests.

I've implemented it without a use case nor the need, "for the cause" I'd say :)
So the implementation might have bugs or would require new features.

[2021-05-30 03:27] #185 closed

[2021-05-30 03:38] babelouest commented on #185
Hello @HYMXDEV ,

I've added a new feature in the [master branch](https://github.com/babelouest/glewlwyd.git) to handle the so-called "forbidden scheme". It adds 2 options in the scheme configuration to allow the admin to forbid a scheme to be registered by the user on the profile page or on the reset credential page.

Before Glewlwyd's next version is released, if you can take a look at this to m

[2021-05-30 11:25] HYMXDEV commented on #185
Hello @babelouest ,

thanks a lot for providing this functionality that fast. I tested the new flags.
They do work as expected and also meet my requirements.

#186 contains the updated German localization with the new strings included. Maybe I will have some time in the near future to address some other untranslated strings as well.

However, I saw that the English locale does not work in my own b

[2021-05-30 11:28] babelouest commented on #185
The locales have been updated in the webapp/ directory, the english locale should be ok now, thanks for pointing out!

[2021-06-05 15:56] #181 closed

[2021-06-05 15:58] babelouest commented on #181
Hello @rurus9 ,

I've added prometheus metrics in the master branch, can you test it and give me feedbacks?

The documentation to install and use it are available here:
https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#prometheus-metrics-endpoint
https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#prometheus-metrics

[2021-06-05 17:01] babelouest commented on #181
Also, let me know if you think other metrics or labels should be added

[2021-06-09 12:27] rurus9 commented on #181
I built a docker image yesterday with `make docker`
On my test environment it looks great, but there must be a mistake in the default configuration settings.
When I added in /etc/glewlwyd/glewlwyd.conf only:
`metrics_endpoint = true`
then when I try to read the metrics I have 401:
[code]
when I added the whole block:
[code]
I have an access:
[code]

[2021-06-09 13:33] rurus9 commented on #181
@babelouest I cannot open this report and did not want to create a new one.
Prometheus does not get metrics, displaying:

I found a tool for checking the correctness of metrics - **promtool**, and it turns out that prometheus is expecting "" in label values.
[code]
[code]
when i changed the 7th line to:
[code]
I have:
[code]
so for testing I added "" to all label values:
[code]
and now:
[code]
so

[2021-06-09 13:38] babelouest commented on #181
@rurus9 , as mentioned in the [install doc](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#prometheus-metrics-endpoint), the prometheus endpoint is disabled by default, because unless I'm told the opposite, this feature isn't useful for every users.

So to avoid data leaks and performance drops, this feature must be explicitly enabled.

Although, there is a small bug with the c

[2021-06-10 11:49] babelouest commented on #181
@rurus9 , can you test with the last commits to check if the metrics are readable now?

[2021-06-10 12:21] rurus9 commented on #181
@babelouest
I checked and now it's clean (great work, thank you!):
[code]
[code]
From my point of view, metrics that count errors in SQL would also be useful, with a malfunctioning mariadb instance glewlwyd logged:
[code]
I assume the number of occurrences of` "Glewlwyd ERROR: Error executing sql query"` would be sufficient?
Thanks again ;)

[2021-06-10 17:12] babelouest commented on #181
I've added database errors in the metrics in the [last commit](https://github.com/babelouest/glewlwyd/commit/fd8dda112fcebc3224096bce4b1861936299ff59)

[2021-06-11 09:06] rurus9 commented on #181
@babelouest
I built a docker image and test it, everything works.
Prometheus scrobes metrics without complaining (and e.g. Grafana is able to draw graphs based on this, alarms can be set, etc.)
Great job, and the quote is excellent
`We have seen handsome noble-looking men but I have never seen a man like the one who now stands at the entrance of the gate.`
Thank you.

[2021-06-11 11:03] babelouest commented on #181
Awesome, let's close this issue now, geek free to open new ones if needed!

[2021-06-26 13:37] #184 closed

[2021-08-19 20:28] dguihal opened #187 "[Issue] No protocol for endpoints in openid discovery data"
**Describe the issue**

Currently trying to setup glewlwyd with traefik-forward-auth client using openid plugin

I'm facing a strange bug

On glewlwyd openid configuration side I have :

[code]

But on the openid-configuration json file I have:

[code]

what is missing is url scheme on endpoint urls thus the redirect forward thinks it is a path a not a full URL

**To Reproduce**

Install the openi

[2021-08-19 20:41] dguihal commented on #187
OK got the answer:

GLWD_EXTERNAL_URL must be a full URL (with protocol) and not just the hosname

not a bug then

[2021-08-19 20:41] #187 closed

[2021-08-19 20:48] babelouest commented on #187
Hello,

The discovery endpoint URLs are based on your `external_url`, my insight is that you set this value without the protocol.

https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#external-url

[2021-08-19 21:09] babelouest commented on #187
@dguihal , the bug is that it could be clearer in the documentation, I'll amend that.

[2021-10-01 19:11] ajl199 opened #188 "Changing user scopes removes g_user_password entry"
**Describe the issue**
Adding or removing scopes from a user through the admin web interface results in them being unable to log in until their password is changed by admin. On inspection, what seems to be happening is that when their scopes are changed, their entry in the g_user_password table disappears entirely.

Is it just me this is happening to?

**System (please complete the following infor

[2021-10-01 19:48] babelouest commented on #188
Hello @ajl199 ,

To complete the bug description:
- are you using the [multiple password](https://github.com/babelouest/glewlwyd/blob/master/docs/GETTING_STARTED.md#multiple-password-authentication) feature?
- what backend are your using to store the users? If you use the database backend, what database type are you using?

[2021-10-01 21:36] babelouest commented on #188
No wait, I see it too, let me check what's wrong...

[2021-10-01 21:46] ajl199 commented on #188
Just came to type a reply and saw your latest. Nonetheless, it's not using multiple password, and is using a database backend: mysql with separate user and config databases, both on AWS RDS.

[2021-10-01 21:51] #188 closed

[2021-10-01 21:52] babelouest commented on #188
I think I found the problem and fixed it in https://github.com/babelouest/glewlwyd/commit/ef433b3df5b31ff3a62887fb7dfddbec08a1b8fc
Can you give it a try?

[2021-10-01 22:21] ajl199 commented on #188
Thank you!

I'm a bit debilitated when it comes to building things right now, but can try as soon as I've got the right systems up and running again.

[2021-10-01 23:17] babelouest commented on #188
You can build a docker image from source: https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#docker-image-builder

But I don't recommend to use your current database with the last commit because there a few changes in the database: https://github.com/babelouest/glewlwyd/blob/master/docs/database/upgrade-2.6-core.mariadb.sql

And since version 2.6.0 isn't finished yet, there may be

[2021-10-02 11:54] ajl199 commented on #188
Typo above now corrected (sorry) I was on version 2.5.4, not 2.4. Got access to a system I could build docker containers on back this morning, have done so and your fix seems to have done the trick. Thank you very much for that speedy turnround.

[2021-10-02 12:05] ajl199 opened #189 "User search problems in /user request and response"
You did say you were all ears...

**Describe the issue**
On the admin web interface User List, entering a string in the search box and clicking the search button has no effect (just returns the current page as before search). There seem to be two issues:

1. the request (e.g. https://example.com/api/user?offset=40&limit=20&pattern=Adrian) contains an offset parameter, which I don't think it should

[2021-10-02 13:18] babelouest commented on #189
Hello @ajl199 ,

I am!

I can reproduce your issue but I'd like to make sure we're on the same page.
In your request example: https://example.com/api/user?offset=40&limit=20&pattern=Adrian , the option `offset=40` means that you are make in search in the 3 page (using the `>>`).
There, if you make a search, the option `offset=40` remains, which leads to an empty result if the result has less than

[2021-10-02 15:40] ajl199 commented on #189
Yes, that's right, that's one of the two problems. Equally, even if there were enough results for the user to be on a valid page, normal expectation would be to start on the first page of the returned results.

The other problem is that the results returned don't seem to have been filtered by the search string: if I search for "zzzzzzzzzzz", the browser console shows a 200 response with a JSON bod

[2021-10-02 16:17] babelouest commented on #189
That one I can't reproduce yet.
You said earlier you use the database backend with a mysql database right?

[2021-10-02 19:13] ajl199 commented on #189
Yes, that's right. Interesting ou can'r reproduce it - maybe that is just me! I've attached a somewhat redacted composite screenshot to show what's happening client-side.

![image](https://user-images.githubusercontent.com/46404662/135729177-b473027b-7ebb-4386-88ac-59c7d1c3b44d.png)

[2021-10-03 16:37] #189 closed

[2021-10-03 17:43] babelouest commented on #189
@ajl199 , I fixed the offset issue in https://github.com/babelouest/glewlwyd/commit/f52eeca96f6dc37dad026132bf28e48e05560ff6 but the invalid result remains though.
Although since I'm not able to reproduce it in my tests I suggest you reopen a new issue for this one only and we can start again from there.

[2022-01-11 13:33] KAW0 opened #191 "[Issue] Can't add SMTP account on fresh install"
Every time I try to add an SMTP account, the following message appears:"Error while adding SMPT configuration"

**System**
 - OS/Environment:, Ubuntu 20.04.3
 - Browser used: Chrome
 - Glewlwyd Version: 2.6.1
 - Source installation: Docker
 - Mariadb

![obraz](https://user-images.githubusercontent.com/16373327/148950441-47181331-10ba-48ef-8ee1-d84e5613ba18.png)
![obraz](https://user-images.githubu

[2022-01-11 14:51] babelouest commented on #191
Hello @KAW0 ,

First, beware that you seem to use the [docker development version](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#docker-image-builder), not the [2.6.1 release](https://github.com/babelouest/glewlwyd/blob/master/docs/INSTALL.md#quick-start-for-tests-only), because the misc configuration page will be in the next 2.7 version.

I suppose you used the wrong sql scri

[2022-01-11 15:05] KAW0 commented on #191
It's true, but I figured it out before writing this topic then I purget database and insert right sql however nothing has changed.
I just built a new docker image from newest version and it's works as expected.

About Docker image I'm afraid 2.6.1 and the newest are the same.
![obraz](https://user-images.githubusercontent.com/16373327/148967271-e41bf41c-b949-4f84-9f3a-d9bc5746e36a.png)

[2022-01-11 15:49] KAW0 commented on #191
Sorry but you don't understand.
I repeated the whole process on VM and I can confirm adding email doesn't work on 2.6.1 at all even with correct sql (from here: https://github.com/babelouest/glewlwyd/archive/refs/tags/v2.6.1.zip)

[2022-01-11 16:00] babelouest commented on #191
Sorry for the misunderstanding, can you send the log error messages from the console and browser then?

[2022-01-11 16:19] KAW0 commented on #191
I can even provide a virtualbox image if needed (on pw), but uploading can take a while.
Browser:

/auth/locales/pl/translations.json:1 Failed to load resource: the server responded with a status of 404 (Not Found)
/auth/api/misc:1 Failed to load resource: the server responded with a status of 404 (Not Found)
192.168.2.194/:1 [DOM] Found 4 elements with non-unique id #btnGroupNavPerPage: (More inf

[2022-01-11 16:32] babelouest commented on #191
To make sure we're talking about the same thing: do you want to run the last release 2.6.1 or do you want to run the current master branch?

[2022-01-11 16:41] KAW0 commented on #191
Currently, I will stick to the built I made from master branch. I'm not at the production stage yet.

[2022-01-11 16:51] babelouest commented on #191
Did you initialize the database using the sql script from the master branch? https://github.com/babelouest/glewlwyd/blob/master/docs/database/init.mariadb.sql

If so, when you try to add an SMTP configuration, do you have errors in the console?

Also do you see a response error message on the browser console network tab on the `POST /api/misc` request?

[2022-01-11 17:20] KAW0 commented on #191
Ok. To be clear:

Currently, I have installed versions from the master branch on my server. It works as it should.

I installed 2.6.1 on my virtual machine to show that in this version adding email doesn't work and logs are from here.

I believe this is the error that this applies to (from Firefox, the previous one was from Chrome):
![obraz](https://user-images.githubusercontent.com/16373327/14899

[2022-01-11 18:27] babelouest commented on #191
It's weird, I couldn't reproduce your problem, even if I try to reproduce your configuration:

- Set value `external_url` to `https://localhost/auth/`
- Run glewlwyd from source on localhost:4593
- Run apache with mod_proxy_http to redirect `http://localhost:4593/` to `https://localhost/auth/`
- Open `https://localhost/auth/` and use glewlwyd from there

Even then, the HTTP request used to push th

[2022-01-11 18:54] KAW0 commented on #191
Similar error:
![obraz](https://user-images.githubusercontent.com/16373327/149003973-491881f4-8b28-4cdb-973c-f322213273ad.png)

[2022-01-11 18:56] babelouest commented on #191
Do you have a similar error if you add a user or a client?

[2022-01-11 19:01] KAW0 commented on #191
Nope:
![obraz](https://user-images.githubusercontent.com/16373327/149004882-a2d0e409-f602-4748-b7ae-a8a72d68c42b.png)

[2022-01-11 19:03] babelouest commented on #191
This is weird, it looks like you have the 2.6.1 backend with the master branch front-end. Can you post the script you used to build the program and with what sources?

[2022-01-11 21:07] babelouest commented on #191
I don't understand how you have the master branch front-end application with the 2.6.1 backend API but it seems to be because of that.

In your DockerCompose file, you specify the glewlwyd image to use like this:

[code]

where it should be something like that:
[code]

with a docker image `babelouest/glewlwyd:src` you built yourself as documented in the [docker image builder](https://github.com/ba

[2022-01-12 08:48] KAW0 commented on #191
Approx. Now I understand. I'm sorry for troubling you but to be honest installation process isn't very clear for those who use docker. Especially since when you look at the documentation, it will point out files that you shouldn't use. The first instinct will not be to download the source, but to look at the documentation. (and yes it was my mistake that I omit first paragraph).
I think that docum

[2022-01-12 12:27] babelouest commented on #191
Can you send a pull request to help improve the documentation then?
That would be much appreciated, thanks in advance!

[2022-01-12 22:00] babelouest commented on #191
Fixed in #192 , thanks @KAW0 !

[2022-01-12 22:00] #191 closed

[2022-02-11 21:44] sfhacker opened #193 "[Windows] Cannot add user on a fresh install"
Just built lastest version from source on Windows 10 x64.
Started the server. I can login successfully and add a new user DB backend.

![image](https://user-images.githubusercontent.com/25817529/153674098-8a518d41-b90f-4571-82be-b3a916d36525.png)

 However I can't add a new user.

![image](https://user-images.githubusercontent.com/25817529/153674354-0e221c47-9387-4c02-98a0-7ff799ffa44f.png)

I sus

[2022-02-11 22:03] sfhacker opened #194 "[Windows] Enabling SSL feature"
Fresh install, latest version.

Whenever enable ssl on the server, I see the following same error message on the console. Tried to debug it to no avail.

# TLS/SSL configuration values
use_secure_connection=true
secure_connection_key_file="D:/SSO_Server/etc/certs/server.key"
secure_connection_pem_file="D:/SSO_Server/etc/certs/server.crt"
secure_connection_ca_file="D:/SSO_Server/etc/certs/root1.crt

[2022-02-11 22:15] babelouest commented on #194
Hi,

It seems you didn't change the `external_url` value and you're accessing glewlwyd via an `http` connection, not an `https`.
You should change your `external_url` value to `"https://localhost:4593"` in the config file and access this url instead of the `http` one.

[2022-02-11 22:20] babelouest commented on #193
I'm confusing with your issue. You say you can't add a new user, but the screenshot right after shows a invalid connection screen. Which one is it?

If it's an add user issue, you may have more information in the API call.
Open the javascript console (usually press [F12]), try to add a user, then in the network tab, look at the `POST http://localhost:4593/api/user` call, and check the response, it

[2022-02-11 22:32] sfhacker commented on #193
Thanks for the debugging tip! Cool.

This is what I get when I click on the 'OK' button.

![image](https://user-images.githubusercontent.com/25817529/153679611-3b50cefe-8e2b-43c5-b9ab-bb858340eb64.png)

[2022-02-22 21:57] babelouest commented on #194
Hello @sfhacker ,

any update on this issue?

[2022-02-22 21:57] babelouest commented on #193
Hello @sfhacker ,

any update on this issue?

[2022-04-01 12:46] lollisoft commented on #156
Hey guys,

I was trying the project  a while ago in my Windows 10 Docker environment - until now. I found that the Windows propably updated Hyper-V to require a newer CPU and broke my Docker capabilities.

Now I found that there is some successful progress in using Windows as a host and I am happy aout that. I like to integrate the identity server for the purpose to restart my development effords

[2022-04-05 15:40] timmotw opened #196 "[Feature request] User roles"
**Is your feature request related to a problem? Please describe.**
This feature is closely related to what we have [discussed previously](https://github.com/babelouest/glewlwyd/issues/184). We would like to have roles with related scopes under them. For example: A user having `Role A`, will automatically have the related scopes to that role. A user will be able to belong to several roles.

**Descr

[2022-04-13 00:49] babelouest commented on #196
The way I see it, you have 2 options:
- update the [user database backend](https://github.com/babelouest/glewlwyd/blob/master/src/user/database.c) to add some features to match your roles with scopes
- create a [user middleware module](https://github.com/babelouest/glewlwyd/tree/master/src/user_middleware) to upgrade users with new scopes depending on the roles they belong to.

Both of them are ve

[2022-04-13 12:32] timmotw commented on #196
@babelouest thank you very much for the feedback! The other option would be to consider roles and scopes as the same thing and make the action authorization checks at the software component level in a way that Java Spring or .NET does it in a declarative way (through annotations speechifying the allowed roles) but in our case with C++ this will be done manually meaning programmatically.

[Dave Sye

[2022-04-13 23:46] babelouest commented on #196
Glewlwyd's security model is based on scopes only, by design.

I agree roles are similar to scopes in some cases, but to make the implementation easier, and to avoid complexity that would lead to bugs or security issue, I prefer to stick on the security model as it is now.

Nevertheless, as you said, adding a module to support your role data model shouldn't be too hard.

[2022-04-20 22:03] timmotw commented on #196
@babelouest thank you very much. I will post any questions I might have. I noticed that there is a `g_scope_group` table. Is this used anywhere?

[2022-04-20 23:24] timmotw opened #197 "[Issue]Segfault right after OpenID succesful authentication with response_type=code when passing nonce parameter, but invalid request without nonce (nonce+required)"
---
name: Glewlwyd bug report
about: Create a report to help improve Glewlwyd
title: "[Issue]"
labels: ''
assignees: ''

---

**Describe the issue**
Segfault right after OpenID succesful authentication with response_type=code when passing nonce parameter, but invalid request without nonce (nonce+required)

**To Reproduce**
Configure a client with all the auth types added and a client secret
Config

[2022-04-20 23:24] babelouest commented on #196
The table `g_scope_group` is a link table between a scope and an authentication scheme: https://github.com/babelouest/glewlwyd/blob/master/docs/database/init.mariadb.sql#L169

You can see it in action in the [scope add modal](https://github.com/babelouest/glewlwyd/blob/master/docs/screenshots/scope-add.png), in there you can add multiple scope groups, each group have a list of schemes required and

[2022-04-20 23:53] babelouest commented on #197
Hello @timmotw ,

I need more information because I can't reproduce your issue. The nonce is required if you add the `openid` in the scope parameter, but if you omit the nonce parameter in the auth request, glewlwyd redirects to the redirect_uri with the error `error=invalid_request&error_description=nonce+required`, and there's no segfault.

Can you provide more information on your client configu

[2022-04-21 07:31] timmotw commented on #197
Yes here it is:

`http://localhost:4593/api/timo/auth?nonce=nonce1234&response_type=code&client_id=timoui&client_secret=45678908-c0ee-11ec-9b30-cba422e192d1&scope=openid%20timo_a%20timo_b&g_admin&redirect_uri=http://localhost:4200`

![image](https://user-images.githubusercontent.com/524466/164401744-1474e3ab-74e1-4c79-91a8-1f5ee7e3c170.png)

[2022-04-21 11:34] babelouest commented on #197
I still can't reproduce your segfault with your parameters.

Nevertheless, you must not add the `client_secret` in the url, and I strongly recommend not to use the scopes `g_profile` and `g_admin` in client apps, instead you should use your own scopes to detach Glewlwyd and the resource you want to access via access tokens.

[2022-04-21 12:08] timmotw commented on #197
@babelouest I have it in mind about the g_admin, g_profile but thank you anyways; I have a lot of things to discover and learn. I will try to have a crash dump and attach it here. Concerning the `client_secret`, I will use the POST method in production but I am still testing the flows through the browser and since GET is supported it makes things easier for me.

Is there a way to make the Scope Gr

[2022-04-21 13:49] babelouest commented on #197
The `/auth` endpoint doesn't authenticate clients via their client secret, wether in basic auth or post method. If you want to authenticate a client during an auth request you can use:
- [Passing Request Parameters as JWTs](https://openid.net/specs/openid-connect-core-1_0.html#JWTRequests)
- [OAuth 2.0 Pushed Authorization Requests](https://datatracker.ietf.org/doc/html/rfc9126)

But either way, i

[2022-04-26 13:31] ghost opened #198 "[Issue] OIDC plugin prevents changing the session cookie name"
**Describe the issue**
Configuring the OIDC module prevents custom session id name, un-checking ends up with value NaN which still cannot be overridden

**To Reproduce**

1. Go to `Parameters` | `Plugins` | `Add`
2. Select` OpenID Connect`
3. Fill up the mandatory fields
4. Check `Allow session management endpoints`
5. Try to change the `OIDC session cookie name` value. It does not allow it
6. Un-

[2022-04-26 15:50] babelouest commented on #197
That's something I'm not willing to change in Glewlwyd.

The scope list required by the client must be open and complete. So the user is aware what are the levels requested by the client and must willingly agree with it, to make sure that the user knows what data can be accessed and/or changed by the client on its behalf.

But it's a free software, so you're allowed to change the login page and th

[2022-04-26 15:51] babelouest commented on #198
Hello @timmotw ,

Indeed, thanks for noticing. I'll make the fix soon, it will be available in the 2.7 release.

[2022-04-27 11:31] #198 closed, assigned to nobody

[2022-04-27 13:17] timmotw commented on #196
@babelouest we are integrating with Envoy [OAuth2 HTTP filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) in order for the proxy to do the checks and remove this concern from the client and also backend (apart from HMAC check I guess). I want to associate the gRPC Resource URIs with scopes so that Glewlwyd will check the requested resource and approv

[2022-04-29 17:03] trefzer opened #199 "[Issue] openID Connect plugin cannot load 'JWKS to use'"
**Describe the issue**
I try to configure openID connect plugin. On the Interface I try to add a JWKS but it gets two errors in the web frontend: Error while updating the module ; and Error in glewlwyd api.
I generated the keys like stated in   https://babelouest.github.io/glewlwyd/docs/OIDC.html.
* I tried the example 1 to generate: rnbyc -j -g ec256 -k key-1 -a ES256 -p /dev/null
  The private k

[2022-04-29 18:34] babelouest commented on #199
Hello @trefzer ,

Thanks for noticing, there is 2 problems raised:
- The documentation is incorrect for the second example, it must have an `alg` property for each key, the `alg` value corresponds to the [JWA parameter](https://datatracker.ietf.org/doc/html/rfc7518#section-3.1). The second example should be something like that:
[code]

- The front-end doesn't validates that each key has an `alg` v

[2022-04-30 08:51] trefzer commented on #199
Hi
This was fast. I can confirm, first example works (no idea, why it did not work before !).
Second one is now also working as expected.

So adding the keys is working, so I have some new errors to investigate ! but know when trying to authenticate a user.
- generate_credential_fake_list - Error generate_credential_fake_from_seed
- user_auth_scheme_module_trigger webauthn - Error generate_credent

[2022-04-30 10:32] babelouest commented on #199
I fixed the UI in this commit https://github.com/babelouest/glewlwyd/commit/de674c07d428c1cd4162801f2b744efbafd2094c and the documentation is fixed here https://github.com/babelouest/glewlwyd/commit/318d9701b2efaff06820a8c8b7e84a05ab168303

I will close this issue and I suggest you open another one for your new issue then. You should describe it using the template, and add screenshots if possible.

[2022-04-30 10:32] #199 closed

[2022-05-02 19:17] timmotw commented on #197
Yes this is something we already started changing so we are 100% in sync.

Thank you very much @babelouest.

[2022-05-03 11:05] timmotw opened #201 "[Feature request] Additional CORS related header configuration"
**Is your feature request related to a problem? Please describe.**
There is no way to configure Allowed/Exposed headers through the Glewlwyd configuration

**Describe the solution you'd like**
It would be very helpful if the following configuration attributes would be available for `glewlwyd.conf` apart from `allow_origin="*"`:
`allowed_headers=""`
`exposed_headers=""`

**Describe alternatives you

[2022-05-03 11:38] babelouest commented on #201
Hello @timmotw ,

That's doable, it's a small change in the [option callback](https://github.com/babelouest/glewlwyd/blob/master/src/webservice.c#L31) to display this configuration:

[code]

Do you think the `Access-Control-Max-Age` should also be controlled in the configuration file?

[2022-05-03 12:23] timmotw commented on #201
To be honest I added the code at the function you mentioned, but no matter what I would not see the header in the response.

[2022-05-03 12:25] timmotw commented on #197
@babelouest does a client really require the `oidc` scope in order to interact with the OID plugin or should I remove it? If I can avoid the `nonce` parameter I will.

[2022-05-03 13:19] babelouest commented on #201
That's because this callback function is for the urls `OPTION *`, you're probably looking at the header response for a `GET *` request.

You may want to add new default headers here to test your changes: https://github.com/babelouest/glewlwyd/blob/master/src/glewlwyd.c#L544

[2022-05-03 13:22] babelouest commented on #197
Yes, if you uncheck this option, then you can send `/auth` request without `nonce` value **if** you don't use the `openid` scope

[2022-05-03 13:24] timmotw commented on #197
@babelouest  It complains though that the `openid` scope is not in the scope request parameter

[2022-05-03 13:39] babelouest commented on #197
I'll run some tests to check what's wrong with that

[2022-05-03 15:13] timmotw commented on #197
@babelouest I ended up having it `checked` and removed `oidc` scope and it's not complaining for `nonce`

[2022-05-03 15:14] babelouest commented on #197
My bad, that's what I meant in the first place...

[2022-05-03 15:35] timmotw commented on #197
I was a bit skeptical to argue :smile:

Thank you man! Your help is really important!

[2022-05-03 21:32] timmotw commented on #201
@babelouest I have setup an nginx reverse proxy for Glewlwyd so I can control the headers accordingly at least for now. What I noticed is that  after the `/auth` request redirects to the login.html page, the port is not the proxy's `80` port anymore but it is changed back to the Glewlwyd default port. Would it be a good idea to control this from Glewlwyd configuration or is there some other way I

[2022-05-03 21:50] babelouest commented on #201
Maybe you did not change the `external_url` value accordingly in your `glewlwyd.conf` file.

If that's not it, can you post the different urls that are accessed in your browser?

[2022-05-04 21:24] timmotw commented on #201
@babelouest I tried the Auth. Code flow with this [tool](https://www.toolsqa.com/postman/oauth-2-0-authorization-with-postman/) and it works great. The only thing I noticed is that on each `Get New Access Token` the login page appears. Is this expected? It is a matter of the Glewlwyd `web` application rather than a problem with the flow right?

![image](https://user-images.githubusercontent.com/52

[2022-05-04 23:38] babelouest commented on #201
I don't know this tool so I suggest you read its documentation or contact its author to understand how it works.

[2022-05-07 02:51] a1730 opened #202 "[Feature request] Deploy webapp to an alternative web server"
**Is your feature request related to a problem? Please describe.**
We tried to deploy Glewlwyd webapp to Nginx but the application failed to start.

**Describe the solution you'd like**
_Separation of concerns_ Separate life cycle for back-end server and front-end application.
- It should be possible to deploy the webapp to an alternative web server, and
- It should be possible to upgrade the back

[2022-05-07 12:27] babelouest commented on #202
Hello @a1730 ,

If I correctly understand you feature request, here's what I can do:

In the next version, I will provide a `glewlwyd-webapp.tar.gz` that contains only the [/webapp](https://github.com/babelouest/glewlwyd/tree/master/webapp) content, so it can be deployed separately more easily.

The other packages would still contain the `/webapp` content, but you can ignore it then.

About the se

[2022-05-07 12:47] babelouest commented on #196
Hello @timmotw ,

I'm not sure I understand what you're trying to achieve with this, unfortunately, I don't know `OAuth2 HTTP filter`.
The goal of the RFC 8707 is to use the `resource` parameter as the `aud` value in the access token claims or the introspection result, so the client can bind an access token to a specific resource server for example.
If you want OAuth2 HTTP filter to support resour

[2022-05-07 19:49] a1730 commented on #202
Hello @babelouest,
Thank you for your quick response.

We are thrilled that you are willing to create a separate the glewlwyd-webapp tar deployment artifact. Thank you.

Our plan is to expose login and profile URLs through the web server while GlewlwydUrl and AdminUrl are handled natively by Glewlwyd so, we will probably use the /webapp content in the full package if available.

It is understandab

[2022-05-07 20:59] babelouest commented on #202
Can you check the [glewlwyd-webapp.tar.gz](https://github.com/babelouest/glewlwyd/releases/download/v2.7.0/glewlwyd-webapp.tar.gz) in the release page and see if that would fit?

I'll answer the other questions tomorrow.

[2022-05-08 03:54] a1730 commented on #202
Hello @babelouest,

First, thank you for the swift response (as usual.) In short, it looks like we are almost there.

A quick diff of the contents of that file indicates that the files are identical to what we extracted from the full v2.7.0 distribution. Nevertheless, we replaced our extract with the contents of the above tar file.
Using a web server is at 192.168.120.37 and glewlwyd back-end at 1

[2022-05-08 04:53] a1730 commented on #202
Hello @babelouest ,
Great news. It works.
We were getting 401 and not seeing the application page because of back-end server misconfiguration.
Thank you very much for your support.
Now to start our tests.

[2022-05-08 04:54] #202 closed

[2022-05-08 21:26] dlangille opened #203 "ld: error: duplicate symbol: global_handler_close_cond"
When building 2.6.2 or 2.7.0 on FreeBSD 13, it fails with:

[code]

This error does not occur on FreeBSD 12.3

Logs here:

* 2.6.2 https://services.unixathome.org/poudriere/build.html?mastername=13amd64-default-primary&build=2022-05-08_19h49m23s
* 2.7.0 https://services.unixathome.org/poudriere/build.html?mastername=13amd64-dvl-testing&build=2022-05-08_20h32m40s

Full details in the logs.

[2022-05-09 03:59] a1730 opened #204 "Support for SameSite Cookies"
**Describe the issue**
We have a test that currently fails with Google Chrome clients due to missing SameSite setting.

**To Reproduce**
Connect to Glewlwyd as any user. Check glewlwyd cookies using browsers' developer tool. You will notice missing SameSite cookie setting, or, `curl -c - 'http://glewlwyd.tld'`

**Expected behavior**
SameSite cookie attribute is set

**Screenshots**
If applicable,

[2022-05-09 13:25] a1730 commented on #204
Hello @babelouest ,

Thank you for the quick accomodation.
You might want to bring glewlwyd into compliance with [rfc-6265 section-5.4](https://datatracker.ietf.org/doc/html/draft-ietf-httpbis-rfc6265bis-09#section-5.4) while you re modifying this code path. I belive you are halfway there already. [INSTALL.md](https://github.com/babelouest/glewlwyd/blob/cf25a6c26fa6de0bcc2f547b15c5b95233127203/doc

[2022-05-09 14:19] babelouest commented on #204
When you mention `I believe you are halfway there.`, do you mean you only need the `SameSite` value or do you expect other values?

[2022-05-10 13:33] a1730 commented on #204
Hi,
We would be ticked pink if you could add other values.

I opened the issue for SameSIte because that was what we picked up in our failed test.
In short, we could use SameSite right away but it would help us if you can implement other values.

To be clear, this is not a production issue. We are in the process of testing Glewlwyd for push to production.

Thank you for you attention, and time - m

[2022-05-11 11:42] timmotw opened #205 "[Feature request] Database schema support"
**Is your feature request related to a problem? Please describe.**
I need to have the Glewlwyd tables under a specific schema in the database

**Describe the solution you'd like**
I would like to be able to configure it through `glewlwyd.conf`

**Describe alternatives you've considered**
The alternative would be having everything in it's own database. It might be more logical since the SSO server

[2022-05-11 12:50] babelouest commented on #205
Hi @timmotw ,

The database scripts is available in the `docs/database` folder. There is no visual schema of the database tables and relations though.

In the `docs/database` folder, you have the scripts to initialize all the tables via the scripts `init.<database>.sql`, like [init.mariadb.sql](https://github.com/babelouest/glewlwyd/blob/master/docs/database/init.mariadb.sql), including code table

[2022-05-11 13:42] timmotw commented on #205
thank you @babelouest

I think a separate database is more logical indeed

[2022-05-11 18:26] babelouest commented on #203
I'm unable to reproduce the error when built on a FreeBSD 13, using clang

[2022-05-16 12:21] timmotw commented on #196
Hi @babelouest

I had in mind something similar to this [answer](https://stackoverflow.com/questions/42186537/resources-scopes-permissions-and-policies-in-keycloak)

What I am trying to achieve is to be able to relate a resource with a scope (and in my case the scope related to a role as well); so if a user tries to access a resource which is not related to her/his assigned scopes, to prevent it a

[2022-05-16 19:26] timmotw commented on #196
@babelouest  yes this is what I am after. I did not understand your previous comment well.

[2022-05-17 11:37] #201 closed

[2022-05-17 11:37] #204 closed

[2022-05-17 11:46] babelouest commented on #204
Hello @a1730 ,

The `cookie_same_site` property has been added in the config file.

[code]

It's not released yet but you can test it by building glewlwyd with the git repository for glewlwyd and its dependencies. Especially, ulfius has been updated to support `SameSite=None` but this change isn't released yet.

[2022-05-17 11:49] babelouest commented on #201
So the following properties have been added to the config file:

[code]

It's still in development but you can test it by getting the git master branch of glewlwyd and its dependencies, especially ulfius.

[2022-05-17 12:38] timmotw commented on #201
@babelouest thank you very much for adding this!

[2022-05-17 12:58] a1730 commented on #204
Hello @babelouest.

Thank you for glewlwyd. We appreciate you.

[2022-05-18 10:37] timmotw commented on #196
@babelouest the scopes drop-down is disabled. Do I need to enable something else first?

![image](https://user-images.githubusercontent.com/524466/169020118-e82b96c8-d9f2-4d47-b043-fd828831af85.png)

[2022-05-18 11:09] babelouest commented on #196
Did you enable "allow resources indicators"?

[2022-05-18 11:13] timmotw commented on #196
Yes as the picture above

[2022-05-18 11:20] timmotw commented on #196
Can the resource `URIs` be relative or for each requested resource through a different `IP`/`Host-name` I need to add the specific
`IP`/`Host-name` that can be assigned to the machine?

e.g.

https://locahost/resource1
https://127.0.0.1/resource1
https://192.168.10.1/resource1

[2022-05-18 11:42] timmotw commented on #196
When you say fragment you mean the following are not legal?

https://127.0.0.1/api/v2/package.ConfigurationService/read_config
https://127.0.0.1/api/v2/package.DataService/clean_sessions

They are accepted from the Glewlwyd UI

[2022-05-18 11:55] babelouest commented on #196
Yes, the fragment is the `#...` part at the end of the URI

[2022-05-18 17:40] timmotw commented on #196
I tried the following:

1. **Chrome - Version 101.0.4951.64 (Official Build) (64-bit)** - NOT WORKING
2. Chromium - Version 101.0.4951.64 (Official Build) snap (64-bit)
3. Firefox - 100.0 (64-bit)

I did not see any error in the javascript console

[2022-05-18 17:47] timmotw commented on #196
OK I noticed that the scopes are missing from the the drop-down in Chrome:

![image](https://user-images.githubusercontent.com/524466/169108481-0666dbce-bde7-4de8-b256-9eb100680d99.png)

whereas in Chromium:

![image](https://user-images.githubusercontent.com/524466/169108656-5788b5a2-4af0-427c-85fc-dadf5075043c.png)

[2022-05-18 20:26] timmotw commented on #196
@babelouest I added 2-3 resources only, but still the resources I did not add are accessible for the client app.

Does the client need to send the resource parameter? I tried that as well to be honest. I checked the RFC8707 a bit but still the resource verification is not kicking in.

[2022-05-18 21:05] babelouest commented on #196
Yes, according to the [RFC8707](https://datatracker.ietf.org/doc/html/rfc8707#section-2.1), you must set the resource parameter in the `/auth` request, something like:

[code]

When the access token is received, the resource parameter will be set in the `aud` claim of the AT or the introspection response.

[2022-05-20 19:45] timmotw commented on #196
@babelouest I will refer to a project other than Glewlwyd because I am missing some point here.

1. According to the RFC8707 the client app. states the list of resources it accesses
2. The Glewlwyd OIDC module allows to bind the client app. scope specific resources
3. If the user attempts to access any other resource than the user's assigned scopes resource list, Glewlwyd will respond with the err

[2022-05-20 19:58] babelouest commented on #196
Hi @timmotw ,

Usually, it's hard to understand the problem with so few information. Can you post the `/auth` url generated by [Envoy's OAuth2 fillter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/oauth2_filter) and received by glewlwyd?

Also, note that Glewlwyd supports only one resource parameter, even if the RFC states that multiple resources parameters is possib

[2022-05-20 20:07] timmotw commented on #196
@babelouest

`https://127.0.0.1/sso/api/oidc/auth?client_id=ui&scope=global&response_type=code&redirect_uri=https://127.0.0.1/api/v2/callback&state=http://127.0.0.1/api/v2/pack.ConfigService/read&resource=http://127.0.0.1/api/v2/pack.ConfigService/version&resource=http://127.0.0.1/api/v2/pack.DataService/read_customers`

I think your statement above renders it a blocker for me and I will need to f

[2022-05-23 20:12] babelouest commented on #196
How the RFC deals with multiple resource values is not crystal clear, but here's how I understand it:

- The client can use multiple resource parameters in the `/auth` request only, with the response type `code` only
- When requesting an access token based on the code or the refresh token, the client must specify a resource parameter that is previously used in the `/auth` request
- If the client u

[2022-05-24 13:31] timmotw commented on #196
@babelouest  thank you very much for the clear explanation

[2022-05-30 16:27] babelouest commented on #196
Hello @timmotw ,

Can you test the master branch? I've updated the resource indicator as I explain it above.

[2022-05-31 12:39] timmotw commented on #196
Hi @babelouest I will test it over the weekend most prob. Thank you!

[2022-08-08 22:36] babelouest commented on #196
The new feature has been introduced in the [release 2.7.1](https://github.com/babelouest/glewlwyd/releases/tag/v2.7.1), happy hacking!

[2022-08-08 22:36] #196 closed

[2022-08-12 13:37] timmotw commented on #196
@babelouest Thank you very much!

[2022-08-25 21:16] vampiebar opened #208 "Wordpress + glewlwyd"
Hello,
When I setup wordpress and glewlwyd it is giving me error after login

"You must register a scheme in your profile before using it for connection"

![Screen Shot 2022-08-26 at 00 08 19](https://user-images.githubusercontent.com/1489223/186770140-36e51de6-a49a-4479-af3d-6f480e67fda9.png)

What can cause this error?

[2022-08-25 22:10] vampiebar opened #209 "Can we use glewlwyd as bridging for other SSO services?"
Hello,
Is it possible to use glewlwyd as bridge for other Oauth2/openID services..

Our App ( such as nextcloud ) ---> glewlwyd.  ---> facebook login

so our app will be logged in from glewlwyd with facebook...?

[2022-08-26 11:53] babelouest commented on #208
Hello,

You have this message because you attempt to log in with a scheme like TOTP or Webauthn, but the scheme isn't registered for the user.

The user `Robert` must go into its profile page and register the required schemes for this login. You should read the [user documentation](https://github.com/babelouest/glewlwyd/blob/master/docs/USER.md) for more explanation.

I will add a more obvious lin

[2022-08-26 11:53] #208 closed

[2022-08-26 12:00] babelouest commented on #209
Hello,

You have the [OAuth2 scheme](https://github.com/babelouest/glewlwyd/blob/master/docs/OAUTH2_SCHEME.md) that may help you. Using this scheme, you can login on a Glewlwyd instance using another account on another OAuth2 service.

Nevertheless, the OAuth2 scheme isn't the best maintained scheme, and I don't use it myself.

Also consider that Glewlwyd as it is, a personal project: https://gith

[2022-08-26 12:00] #209 closed